on boot
    write /sys/class/android_usb/android0/f_mass_storage/board_support_luns 1

on early-fs
    export EXTERNAL_STORAGE /storage/self/primary
    symlink /mnt/user/0/emulated /mnt/runtime/default/self/emulated

on init
    mkdir /mnt/vendor/productinfo 0771 system system
#HS03 code for SR_SL6215_01_217 by zhaoxiangxiang at 2021/07/28 start
    mkdir /mnt/persist 0700 system system
    mkdir /efs 0700 system system
    mkdir /mnt/vendor_efs 0700 system system
    mkdir /mnt/vendor/efs 0771 radio system
#HS03 code for SR_SL6215_01_217 by zhaoxiangxiang at 2021/07/28 end
    # SPRD: add for storage manage @{
    export EMULATED_STORAGE /storage/self/emulated
    export PHYSICAL_STORAGE /storage/sdcard0
    export USBDISK_STORAGE /storage/usbdisk
    symlink /storage/self/primary /mnt/sdcard
    # @}

    # SPRD: add for OTG usb disk @{
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    mkdir /storage/usbdisk 0700 system system
    symlink /storage/usbdisk /mnt/usbdisk
    # @}

on post-fs
    mkdir /mnt/vendor/productinfo 0771 system system
#HS03 code for SR_SL6215_01_217 by zhaoxiangxiang at 2021/07/28 start
    chown system system /mnt/persist
    chmod 0777 /mnt/persist
    restorecon_recursive /mnt/persist

    chown system system /mnt/vendor_efs
    chmod 0777 /mnt/vendor_efs
    restorecon_recursive /mnt/vendor_efs

    chown radio system /mnt/vendor/efs
    chmod 0771 /mnt/vendor/efs
    restorecon_recursive /mnt/vendor/efs

    chown system system /efs
    chmod 0777 /efs
    restorecon_recursive /efs
#HS03 code for SR_SL6215_01_217 by zhaoxiangxiang at 2021/07/28 end
